body {
  margin: 0;
  background-color: #d1d1d1;
}
h1 {
  margin-bottom: 16px;
}
h1, h2 {
  margin: 0;
  font-weight:normal;
}
.title {
  background-color: blueviolet;
  padding: 46px 26px 26px 16px;
  color: white;
  font-weight: normal;
}
.todo {
  display: block;
  padding: 16px;
  color: darkgray;
  background-color: white;
}
.todo input {
  position: relative;  
}
.todo input:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: -6px;
  left: -8px;
  border: 1px solid dimgray;
}
.todo input:checked:after {
  content: '\2713';
  display: inline-block;
  font-size: 18px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  top: -6px;
  left: -8px;
  border: 1px solid dimgray;
  background-color: dimgray;
  text-align: center;
  color: white;
}
.todo input:checked + label {
  text-decoration: line-through;
}
.add-todo {
  display: block;
  padding: 16px 16px 16px 10px;
  background-color: white;
}
.add-todo input {
  display: inline-block;
  font-size: 18px;
  border: none;
}
.add-todo input:focus, button:focus {
  outline: none;
}
.add-todo button {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  color: white;
  font-size: 16px;
  line-height: 17px;
  border: 1px solid dimgray;
  background-color: darkblue;
}
.todo, .add-todo {
  border-bottom: 1px solid #cccccc;
}