.user-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.user-list li {
  list-style: none;
  text-align: center;
  border-radius: 100%;
  padding: 10px;
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  line-height: 100px;
}
.user-list li:hover {
  background-color: deepskyblue;
}
.user-list li.selected {
  background-color: royalblue;
}