h1 {
	width: 500px;
	margin: 0 auto;
}
.tabs {
	width: 500px;
	margin: 0 auto;
  padding: 0;
}
.tabs ul {
	height: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs li {	
	float: left;
	width: 130px;
}
.tabs li a {
	position: relative;
	display: block;
	height: 30px;
	margin-top: 40px;
	padding: 10px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: center;	
	text-decoration: none;
	color: white;
	background: #aaa;
  border-right: 1px solid #ddd;	
}
.tabs li a:hover {
	margin: 35px 0 0 0;
	padding: 10px 0 5px 0;
}
.tabs li a.active {
	margin: 30px 0 0 0;
	padding: 10px 0 10px 0;
	background: #555;
	color: yellowgreen;
}
.tab_content {
  height: 200px;
  color: #ffffff;
  background: #555;
  line-height: 26px;
  font-size: 18px;
  padding: 2px 10px;
}