.box {
  background: yellow;
  width: 70px;
  height: 70px;
  padding: 20px;
  border: 1px solid #000;
  margin-right: 30px;
  float: left;
}

.box2 {
  color: #fff;
  background: #000;
  height: 100%;
  line-height: 70px;
  text-align: center;
}